@font-face {
  font-family: "PoppinsFonts";
  src: url("../../Assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

/* first blog */
.homebackgroundimage {
  background: url("../../../public/images/Frame.svg") no-repeat;
  background-size: cover;
  /* background-attachment: fixed;  */
}

.hometitle {
  font-family: "PoppinsFonts";
  line-height: 1.2em;
  background: linear-gradient(92.12deg, #FFFFFF -5.07%, #6549F6 38.89%, #00DAD9 90.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.homebuttonborder {
  border: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(93.69deg, #7b61ff 0%, #00dad9 107.12%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* second blog */
.network-box {
  border-radius: 18px;
  text-align: center;
  filter: drop-shadow(5.26833px 5.26833px 13.1708px rgba(0, 0, 0, 0.1));
  background: white;

}

.secondtitle {
  font-family: "PoppinsFonts";
  font-size: 50px;
  line-height: 60px;
}

.topcreators {
  font-family: "PoppinsFonts";
  font-size: 32px;
}

.cardtitle {
  font-family: "PoppinsFonts";
  font-size: 18px;
  color: #c4c4c4;
}

.cardprice {
  font-family: "PoppinsFonts";
  font-size: 18px;
}

.cardincrement {
  font-family: "PoppinsFonts";
  font-size: 27.4286px;
  color: #00a825;
}

.dropdownborder.cardborder {
  border: 2px solid transparent;
}

.buttongradient {
  background: linear-gradient(98.79deg, #9b53e0 20.34%, #8551e6 77.89%);
  border-radius: 154.863px;
  font-size: 30.9725px;
  font-family: "PoppinsFonts";
}

.topcreatorstitle {
  font-weight: bold;
  font-family: "PoppinsFonts";
  font-size: 23.9508px;
  line-height: 36px;
  color: #ffffff;
  white-space: nowrap;
}

.topcreatorssubtitle {
  font-weight: bold;
  font-family: "PoppinsFonts";
  font-size: 15.9672px;
  line-height: 24px;
}

.topcreatorssubtext {
  font-size: 20.4643px;
  line-height: 31px;
  font-family: "PoppinsFonts";
  font-weight: bold;
}

.topcreatorssubfolow {
  font-size: 13.6429px;
  line-height: 20px;
  font-family: "PoppinsFonts";
  font-weight: bold;
}

.topcreatorsfollowing {
  font-family: "PoppinsFonts";
  font-size: 14.9345px;
  line-height: 22px;
}

.follow {
  background: linear-gradient(98.79deg, #9B53E0 20.34%, #8551E6 77.89%);
}

/* table */

.topnft-box {
  background: #FFFFFF;
  box-shadow: 5.26833px 5.26833px 13.1708px rgba(0, 0, 0, 0.1);
  border-radius: 9.62727px;
}

.topcreators-box {
  border-radius: 18px;
  text-align: center;
  filter: drop-shadow(5.26833px 5.26833px 13.1708px rgba(0, 0, 0, 0.1));


}

#customers {
  width: 100%;
}

#customers td,
#customers th {
  /* border-radius: 10%; */
  padding: 15px 50px 21px 40px;
  /* 13px 0px 13px 20px */
}



@media (min-width: 768px) {

  #customers td,
  #customers th {
    /* border-radius: 10%; */
    padding: 13px 0px 13px 20px !important;
    /* 13px 0px 13px 20px */
  }
}

#customers tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* #customers tr:hover {background-color: #ddd;} */

#customers th {
  text-align: left;
  background-color: #ffffff;
  /* border-radius: 10%; */
}

.tableincrement {
  color: #00a825;
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: normal;
  font-size: 22px;
  line-height: 120%;
}

.tabletext {
  font-family: "PoppinsFonts";
  font-style: normal;
  font-weight: 500;
  /* font-size: 24.783px; */
  /* line-height: 120%; */

}

/* six bloges css */
.homebackground {
  background: url("../../../public/images/Asset\ 9@3x-100.png") no-repeat;
}

.setwallettext {
  font-family: "PoppinsFonts";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #1f2937;
}

.setwalletparagraph {
  font-family: "PoppinsFonts";
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  color: #333333;
}

.fNIWSU {
  width: 100%;
  font-weight: 600;
  border: 1px solid rgb(229, 232, 235);
  color: rgb(53, 56, 64);
  text-align: left;
}

.kKpYwv {
  display: flex;
}

.gyFWjU {
  padding: 16px;
  height: 88px;
}

.euUQqP {
  -webkit-box-align: center;
  align-items: center;
}

.ttmcH {
  margin-right: 8px;
}

.hjciTd {
  position: relative;
}

.fcxCQq {
  height: 10px;
  min-width: 10px;
  position: absolute;
  right: 12.5%;
  bottom: 16%;
}

.lhtXJh {
  height: 1.25rem;
  width: 1.25rem;
}

.cjftsJ {
  align-self: stretch;
  flex: 1 1 auto;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 16px;
  order: 3;
  overflow: hidden;
  font-size: 16px;
  align-items: flex-start;
}

.dOqAvv {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 40%;
  order: 4;
  overflow: hidden;
  text-align: right;
}

.cSiicL {
  font-weight: 600;
  font-size: 14px;
  color: rgb(4, 17, 29);
}

.knRrSe {
  font-weight: 400;
  font-size: 14px;
  color: #6549F6;
}

.cwzfDK {
  line-height: 24px;
}

.gblfhv {
  align-items: flex-end;
  flex-direction: column;
}

.iedBRS {
  font-weight: 400;
  font-size: 14px;
  color: rgb(52, 199, 123);
}

.gEYrEV {
  margin-right: 4px;
  display: inline-flex;
  height: 22px;
  -webkit-box-align: center;
  align-items: center;
}

.cIKgGu {
  font-weight: 600;
  font-size: 14px;
  color: #6549F6;
}

.bhuNxV {
  width: 14px;
  height: 14px;
}


.eAyARa {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background: linear-gradient(98.79deg, #9B53E0 20.34%, #8551E6 77.89%);
  border-radius: 154.863px;
  background-color: rgba(103, 58, 183, 0.1);
  color: white !important;
  box-shadow: 0 0 2px 0px #333;
  border-radius: 50%;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
}

.eWjCzc {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background: linear-gradient(98.79deg, #9B53E0 20.34%, #8551E6 77.89%);
  background-color: rgba(103, 58, 183, 0.1);
  color: white !important;
  box-shadow: 0 0 2px 0px #333;
  border-radius: 50%;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
}